.home {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0vh 10vw 0 5vw;
  font-family: Roboto;
  color: white;
}
.home__main-container {
  padding: 0;
  height: 84vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20vw;
}
.home__main-container__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  gap: 30px;
}
.home__main-container__text-box__text {
  font-size: 36px;
  font-weight: 600;
  margin-left: 10px;
}
.home__main-container__worldBookImg {
  width: 400px;
}
.home__section {
  display: flex;
  width: 100%;
  padding: 0px 0;
  flex-direction: row;
}
.home__section__no-content {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.home__section__no-content span {
  width: 50%;
  height: 100%;
  margin-right: 4px;
}
.home__section__content {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: flex-start;
}
.home__section__content-img {
  width: 50%;
}
.home__section__content-text {
  box-sizing: border-box;
  position: relative;
  padding: 20px 20px;
  height: 100%;
}
.home__section__content-text h1 {
  font-weight: 600;
}
.home__section__left {
  text-align: left;
}
.home__section__right {
  text-align: right;
}
.home-border-left {
  background-image: linear-gradient(white 60%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 2px 30px;
  background-repeat: repeat-y;
}
.home-border-right {
  background-image: linear-gradient(white 60%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 2px 30px;
  background-repeat: repeat-y;
}
.home-border-top {
  background-image: linear-gradient(to right, white 60%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 39px 2px;
  background-repeat: repeat-x;
}
.home-border-bottom {
  background-image: linear-gradient(to right, white 60%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 39px 2px;
  background-repeat: repeat-x;
}
.home-corners-right {
  margin-right: 20px;
}
.home-corners-right::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: -4px;
  height: 20px;
  width: 4px;
  background-image: linear-gradient(to right, white 60%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-y;
}
.home-corners-right::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  right: -4px;
  height: 20px;
  width: 4px;
  background-image: linear-gradient(to right, white 60%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-y;
}
.home-corners-left {
  margin-left: 0px;
}
.home-corners-left::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: -4px;
  height: 20px;
  width: 4px;
  background-image: linear-gradient(to right, white 60%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-y;
}
.home-corners-left::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: -4px;
  height: 20px;
  width: 4px;
  background-image: linear-gradient(to right, white 60%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-y;
}
.home-corner-left-top {
  margin-left: 0px;
}
.home-corner-left-top::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: -4px;
  height: 20px;
  width: 4px;
  background-image: linear-gradient(to right, white 60%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-y;
}/*# sourceMappingURL=home.module.css.map */