.logo {
  color: #fff;
  -webkit-text-stroke: 2px #ff0404; /* width and color */
  text-align: center;
  font-family: Roboto;
  font-size: 2.65rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
