.home {
  display: flex;
  flex-direction: column;

  &__main-container {
    padding: 20vh 10vw 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 300px;

    &__text-box {
      display: flex;
      flex-direction: column;
      width: 900px;
      gap: 30px;
      &__text {
        font-size: 36px;
        color: white;
        font-weight: 600;
        font-family: Roboto;
        margin-left: 10px;
      }
    }
    &__worldBookImg {
      width: 400px;
    }
  }
}
