.home {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0vh 10vw 5vh 5vw;
  font-family: Roboto;
  color: white;
  &__main-container {
    padding: 0;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20vw;
    font-size: 2rem;
    &__text-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      &__text {
        font-weight: 600;
        margin-left: 10px;
      }
    }
    &__worldBookImg {
      width: 400px;
    }
  }
  &__section {
    display: flex;
    width: 100%;
    padding: 0 0;
    flex-direction: row;
    &__no-content {
      display: flex;
      flex-direction: row;
      width: 50%;
      span {
        width: 50%;
        height: calc(100%);
        margin-right: 4px;
      }
    }
    &__content {
      display: flex;
      flex-direction: row;
      width: 50%;
      align-items: flex-start;
      &-img {
        width: 50%;
      }
      &-text {
        box-sizing: border-box;
        position: relative;
        padding: 20px 20px;
        height: 100%;
        h1 {
          font-weight: 600;
        }
      }
      // &-text::before {

      // }
    }
    &__left {
      text-align: left;
    }
    &__right {
      text-align: right;
    }
  }
  &-border-left {
    // border-left: 2px dashed white;
    background-image: linear-gradient(white 60%, rgba(255, 255, 255, 0) 0%);
    background-position: right;
    background-size: 2px 30px;
    background-repeat: repeat-y;
  }
  &-border-right {
    // border-right: 2px dashed white;
    background-image: linear-gradient(white 60%, rgba(255, 255, 255, 0) 0%);
    background-position: right;
    background-size: 2px 30px;
    background-repeat: repeat-y;
  }
  &-border-top {
    background-image: linear-gradient(
      to right,
      white 60%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: top;
    background-size: 39px 2px;
    background-repeat: repeat-x;
  }
  &-border-bottom {
    background-image: linear-gradient(
      to right,
      white 60%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 39px 2px;
    background-repeat: repeat-x;
  }
  &-corners-right {
    margin-right: 0px;
  }
  &-corners-right::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: -4px;
    height: 20px;
    width: 4px;
    background-image: linear-gradient(
      to right,
      white 60%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-y;
  }
  &-corners-right::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    right: -4px;
    height: 20px;
    width: 4px;
    background-image: linear-gradient(
      to right,
      white 60%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-y;
  }
  &-corners-left {
    margin-left: 0px;
  }
  &-corners-left::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -4px;
    height: 20px;
    width: 4px;
    background-image: linear-gradient(
      to right,
      white 60%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-y;
  }
  &-corners-left::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: -4px;
    height: 20px;
    width: 4px;
    background-image: linear-gradient(
      to right,
      white 60%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-y;
  }
  &-corner-left-top {
    margin-left: 0px;
  }
  &-corner-left-top::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -4px;
    height: 20px;
    width: 4px;
    background-image: linear-gradient(
      to right,
      white 60%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-y;
  }
}
@media only screen and (max-width: 1280px) {
  .home {
    &__main-container {
      flex-direction: column;
      height: auto;
      margin: 10vh 0;
      font-size: 1.5rem;
      text-align: center;
      gap: 5vh;
    }
    &__section {
      flex-direction: column;
      &__no-content {
        display: none;
      }
      &__content {
        width: 100%;
        gap: 10vw;
        align-items: center;
        &-img {
          width: 40%;
        }
      }
    }
    &-border-left,
    &-border-right,
    &-border-top,
    &-border-bottom {
      background-image: none;
    }
    &-corners-right::before,
    &-corners-right::after,
    &-corners-left::before,
    &-corners-left::after,
    &-corner-left-top::before {
      display: none;
    }
  }
}
@media only screen and (max-width: 768px) {
  .home {
    &__main-container {
      &__worldBookImg {
        width: 300px;
      }
    }
    &__section {
      img {
        width: 70%;
      }
      &__content:nth-child(even) {
        flex-direction: column;
      }
      &__content:nth-child(odd) {
        flex-direction: column-reverse;
      }
    }
  }
}
@media only screen and (max-width: 640px) {
  .home {
    &__main-container {
      &__text-box {
        img {
          width: 300px;
        }
      }
      &__worldBookImg {
        width: 200px;
      }
    }
  }
}
