.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #7131b7e6;
  box-sizing: border-box;
  padding: 10px 60px;
  gap: 5vw;
  &__contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__icons-box {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      &__icon {
        width: 30px;
      }
    }
    &__privacy {
      text-align: right;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #c9b0e4e6;
      text-decoration: none;
    }
  }
}
@media only screen and (max-width: 1280px) {
  .footer {
    &__contact {
      &-icon {
        width: 30px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-end;
    gap: 1vh;
    font-size: 0.6rem;
    padding: 10px 20px;
    &__contact {
      &-icon {
        width: 30px;
      }
    }
  }
}
