.authentication-container {
  box-sizing: border-box;
  padding: 10vh 10vw;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  align-items: center;

  &__left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 40%;
    &__logo {
      width: 90%;
    }
    &__world {
      width: 50%;
    }
  }
  &__right-box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    height: fit-content;
    background-color: rgba(56, 19, 150, 0.4);
    border-radius: 15px;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.5);
    button:nth-of-type(2) {
      display: none;
    }
    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &__warning {
        color: #ff2f2f;
      }
      input {
        box-sizing: border-box;
        outline: none;
        min-width: 400px;
        min-height: 50px;
        background-color: transparent;
        border: 2px solid #44b6c6;
        border-radius: 15px;
        padding: 1rem;
        font-size: 1rem;
        color: white;
      }
      &__input-box {
        position: relative;
        svg {
          position: absolute;
          top: 17px;
          right: 20px;
          height: 20px;
          width: 20px;
          fill: white;
        }
        svg:hover {
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .authentication-container__left-box__logo,
  .authentication-container__left-box__world {
    width: 90%;
  }
}
@media only screen and (max-width: 1000px) {
  .authentication-container {
    flex-direction: column;
    &__left-box {
      max-width: 100%;
      &__world {
        display: none;
      }
      &__logo {
        width: 475px;
      }
      button {
        display: none;
      }
    }
    &__right-box {
      box-shadow: none;
      button:nth-of-type(2) {
        display: flex;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .authentication-container {
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
    &__left-box {
      max-width: 100%;
      &__world {
        display: none;
      }
      &__logo {
        width: 70%;
      }
      button {
        display: none;
      }
    }
    &__right-box {
      gap: 0.5rem;
      background-color: transparent;
      padding: 0;
      button {
        margin: 0.2rem;
        font-size: 1rem !important;
      }
      button:nth-of-type(2) {
        display: flex;
      }
      &__form {
        margin: 0.2rem;
        input {
          min-width: 300px;
        }
      }
    }
  }
}
