.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__navigation {
    margin-right: 100px;
    &__pages {
      li {
        font-family: "Roboto", sans-serif;
        list-style-type: none;
        font-size: 1.2rem;
        color: white;
        display: inline;
        margin: 0 30px;
      }
      li:hover {
        cursor: pointer;
      }
    }
    &__login-register-container {
      display: inline-flex;
      gap: 1rem;
    }
  }
}
